.bg-black{
    background-color: black;
}
.cl-white{
    color: white;
}
.blue{
    background-color: blue;
}
.padding-0{
    padding: 0;
}
.margin-0{
    margin: 0;
}
.margin-bottom-1vw{
    margin-bottom: 1vw;
}
.margin-right-1vw{
    margin-right:1vw ;
}
.margin-left-1vw{
    margin-left: 1vw;
}
.margin-top-card{
    margin-top: 3vw;
}
.bg-card{
    background-color: rgb(242, 228, 255);
}
.border-card{
    border-radius: 1.2vw;
}
.border-img-card{
    border-radius: 1.2vw 1.2vw 0 0;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.titre-panier-vide{
    font-size: 4vw;
}
.margin-bt{
    margin-top: 35%;
    margin-bottom: 37%;
}