// page commande
.size-box-commande {
    height: 37rem;
}
// commande false
.text-commande-false {
    font-size: 5vw;
    margin-top: 8rem;
    margin-bottom: 3.5rem;
    
}
// panier vide 
.size-icon-panierVide{
    font-size: 15vw;
}
.size-titre-panierVide{
    font-size: 7vw;
}
.titre-panier-vide{
    font-size: 4vw;
}
.size-box-panierVide{
    margin-top: 11rem;
    margin-bottom: 11rem;
}
